@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

.blog-date-time {
  color: $text-muted;
  font-size: $font-size-sm;
}

.blog-list-item {
  a {
    text-decoration: none;
  }
}

.blog-body {
  blockquote {
    padding: 0 1em;
    color: $text-muted;
    border-left: 0.25em solid #ccc;
  } 
}
