@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$font-size-base: 1.2rem;
$font-family-base: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;

@import "../../node_modules/bootstrap/scss/bootstrap";

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);

}
