.nav-item:hover {
  text-decoration: none;
}

.active-nav-item {
  text-decoration: underline;
  color: #fff
}

.active-nav-item:hover {
  text-decoration: underline;
  color: #fff
}

.my-navbar {
  max-width: 960px;
}
