.nav-item {
  text-decoration: none;
  background-color: transparent !important;
}

.nav-item:hover {
  text-decoration: none;
  background-color: transparent !important;
}

.active {
  text-decoration: underline;
  background-color: transparent !important;
}

.my-navbar {
  max-width: 960px;
}
