<footer class="footer py-2 bg-dark">
  <div class="my-footer mx-auto">
    <div class="container">
      <div class="row">
        <div class="col-auto"></div>
        <div class="col text-center text-secondary">
          Made with lots of <a href="https://en.wikipedia.org/wiki/Green_tea" target="_blank" rel="noreferrer"><span style="color: LightGreen" aria-label="Tea Pot">{{ partial "icon.html" "teapot" }}</span></a>.
        </div>
        <div class="col-auto text-right text-secondary">
          <a class="rss-icon" href="{{ "rss.xml" | relURL }}" aria-label="Link to RSS Feed">{{ partial "icon.html" "rss" }}</a>
        </div>
      </div>
    </div>
  </div>
</footer>
