{{ define "main" }}
<div class="row">
  <div class="col-md-4">
    <div class="row">
      <img src="{{ "images/avatar.png" | relURL }}" class="rounded-circle" alt="Prof. Dr. Christian Drumm">
    </div>
    <div class="row">
      <div class="col text-center">
        <h2><a href="https://mastodon.social/@ceedee666" target="_blank" rel="me" aria-label="Link to my mastodon account">{{ partial "icon.html" "mastodon" }}</a></h2>
      </div>
      <div class="col text-center">
        <h2><a href="https://community.sap.com/t5/user/viewprofilepage/user-id/10851" target="_blank" rel="noreferrer" aria-label="Link to my SAP community account">{{ partial "icon.html" "sap" }}</a></h2>
      </div>
      <div class="col text-center">
        <h2><a href="https://www.youtube.com/c/christiandrumm" target="_blank" rel="noreferrer" aria-label="Link to my YouTube channel">{{ partial "icon.html" "youtube" }}</a></h2>
      </div>
      <div class="col text-center">
        <h2><a href="https://codeberg.org/ceedee666/" target="_blank" rel="noreferrer" aria-label="Link to my Github account">{{ partial "icon.html" "codeberg" }}</a></h2>
      </div>
      <div class="col text-center">
        <h2><a href="https://creators.spotify.com/pod/show/christiandrumm/" target="_blank" rel="noreferrer" aria-label="Link to my podcast">{{ partial "icon.html" "apple-podcasts" }}</a></h2>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <h1>Prof. Dr. Christian Drumm</h1>
    </div>
    <div class="row">
      <ul class="list-unstyled">
        <li>
          Professor of Information Systems @ <a href="https://www.fh-aachen.de/" target="_blank" rel="noreferrer">FH Aachen</a>
        </li>
        <li>
          Founder, Coach and Consultant @ <a href="https://www.trans4m.io/" target="_blank" rel="noreferrer">trans4mio</a>
        </li>
        <li>
          Coach @ <a href="https://ase-coaching.com/" target="_blank" rel="noreferrer">ASE Coaching</a>
        </li>
        <li>
          <a href="https://community.sap.com/programs/influencer-programs/champions" target="_blank" rel="noreferrer">SAP Champion</a> and former member of the <a href="https://events.sap.com/de/sap-next-gen/en/contact" target="_blank" rel="noreferrer">SAP DACH Academic Board</a>
        </li>
        <li>
          Co-Founder of the <a href="https://wiki.scn.sap.com/wiki/display/events/ABAP+CodeRetreat" target="_blank" rel="noreferrer">ABAP CodeRetreat</a>
        </li>
        <li>
          Author @ <a href="https://drumm.sh/s4buch" target="_blank" rel="noreferrer">Rheinwerk</a> and <a href="https://drumm.sh/et" target="_blank" rel="noreferrer">Espresso Tutorials</a>
        </li>
        <li>
          List of my <a href="https://www.fh-aachen.de/menschen/drumm/veroeffentlichungen" target="_blank" rel="noreferrer">publications</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{{ end }}
